@import url('https://fonts.cdnfonts.com/css/tetris');

body{
    background-color: #00072D;
    background-image: url('../images/quadradinhos.png'); 
    background-size: cover; 
    margin: 0;
}
@keyframes shine {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0.2;
        transform: scale(1);
    }
}
h1{
    animation: shine 3s linear infinite;
    font-family: 'Tetris';
    color: aliceblue;
    text-decoration:none
}


.login-container {
    width: 550px;
    height: auto;
    background-color: rgba(255, 74, 28);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Tetris';
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    margin-top: 100px;
    margin-left: 430px;
    margin-bottom: 100px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="date"],
.login-container input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    font-family: 'Press Start 2P', cursive;
}

.login-container button {
    width: 98%;
    padding: 10px;
    margin-top: 5%;
    background-color: #00072D;
    color: white;
    border: none;
    font-family: 'Tetris';
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-container a {
    margin-top: 10%;
    padding-top: 20px;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
}


.options{
    display: flex;
    margin-left: 50px;

}  

.options img {
    width: 50px;
    height: 50px;
    transition: filter 0.3s;
}
  
.options a:hover img {
    filter: invert(10%) sepia(20%) saturate(100%);
}

/*footer*/

footer{
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    max-width: 100%;
    padding: 5px 5px;
    background-color: #FF4A1C;
}

footer p {
    margin: 0;
    font-size: 12px;
}