/*Fontes do próprio tetris*/

@import url('https://fonts.cdnfonts.com/css/tetris');


body{
    background-color: #00072D;
    background-image: url('../images/quadradinhos.png'); 
    background-size: cover; 
    margin: 0;
    overflow-x: hidden;

}


/*Fontes e Estilos*/

h1{
    font-family: 'Tetris', sans-serif;
    color: white;
    text-shadow: 0 0 10px rgb(196, 192, 192);
    text-align: center;
    text-transform: uppercase; 
    margin-top: 30px;
    font-size: 60px;
    letter-spacing: 2px;
}

h3{
    font-family: 'Tetris', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase; 
    margin-top: 10px;  
    letter-spacing: 2px;
}

p{
    font-family: 'Tetris', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;   
    letter-spacing: 1px;
    font-size: large;
    padding-bottom: 10px;
}

/*Tabela do Ranking*/

.fundoTabela {
    width: 55%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 22%;
    margin-bottom: 50px;
    border-collapse:separate;
    border: 7px solid #616161;
}


.fundoTabela th {
    border: 2px solid #616161;
}

.fundoTabela td {
    border: 2px solid #616161;
    height: fit-content;
}

/*Linhas ímpares*/
.fundoTabela tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3); 
}

/*Linhas pares*/
.fundoTabela tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); 
}

.seta {
    float: left;
    position: relative;
}

.seta img {
    width: 100px;
    height: 100px;
    margin-top: 115%;
    margin-left: 150%;
    animation: moveLeftRight 1s linear infinite; 
}

@keyframes moveLeftRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px); 
    }
}


/*ìcones dos Jogadores*/
.icone{
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10%;
}

img{
    position: static;
    padding-left: 20%;

}

/*Alinhar os ícones com os respectivos nomes dos jogadores*/

.conteiner-imagem-nome {
    display: flex;
    align-items: center;
 }



footer{
    position:static;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: fit-content;
    padding: 5px 5px;
    background-color: #FF4A1C;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: white;
    font-family: 'Tetris', sans-serif;
}

.options{
    display: flex;
    margin-left: 50px;

}  

.options img {
    width: 50px;
    height: 50px;
    transition: filter 0.3s;
}
  
.options a:hover img {
    filter: invert(10%) sepia(20%) saturate(100%);
}

/* a parte do link foi pega do site: https://pt.stackoverflow.com/questions/153761/como-tirar-a-cor-azul-de-links-ultilizando-css */

a:link {
    color: rgb(14, 0, 0);
    text-decoration: none;
    margin-right: 2%;
    padding-bottom: 3%;
 }
 
 /* link que foi visitado */
 a:visited {
     color: rgb(0, 0, 0);
 }
 
 /* mouse over */
 a:hover {
     color: #aafda2;
 }
 
 /* link selecionado */
 a:active {
     color: #aafda2;
}